html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    background-image: url("../images/tło.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:  auto;
    padding: 20px;
    font-family: 'Montserrat' , sans-serif;
    font-size: 15px;
    min-height: 100vh;
}

.container {
    flex-basis: 700px;
    margin: 20px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

.form__legend {
    color: rgb(88, 14, 70);
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.form__field {
    border: 1px solid black;
    padding: 5px;
    max-width: 300px;
    width: 100%;
    background-color: #ccc(156, 41, 160, 0.337);
}

.form__fieldset {
    background-color: #bfafaf (160, 130, 148, 0.613);
    border: 1px solid black;
}

.form__labelText {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    max-width: 120px;
    width: 100%;

}

.form__button {
    font-size: 15px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    color: black;
    background-color: rgba(156, 41, 160, 0.337);
}

.form__button:hover {
    background-color: hsl(302, 89%, 25%);   
}


.form__info {
    color: rgba(55, 55, 55, 0.86);
    padding: 10px 0px;
    margin-bottom: 10px;
    max-width: 600px;
    width: 100%;
}